*{
  padding: 0%;
  margin: 0%;
}

body {
  background-image: url(images/materials/Background.png);
    background-size: cover;
    background-attachment:fixed;
    background-position: 100% 100%;
    z-index: -1;
}

header{
width: 100%;
height: 12.5em;
text-align: center;
background-image: url(images/materials/Header4.png);
background-size: 50%;
background-repeat: no-repeat;
background-position: center;
background-position-y: top;
}

h1 {
  color: white;
  text-align: center;
  font-family: "Baloo 2";
  font-size: 50px;
}

h2 {
  color: white;
  text-align: center;
  font-family: "Baloo 2";
  font-size: 30px;
}

p {
  font-family: "Inter";
  font-size: 20px;
  text-align: center;
  color: white;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

nav{
  align-items: center;
  display: flex;
  justify-content: center;
  gap: 50px;
}

nav a{
  text-decoration: none;
  font-family: "Baloo 2";
  font-size: 30px;
  color: white;
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
  margin: auto;
  width: 1000px;
  flex-direction: row
}

/* Create four equal columns that sits next to each other */
.column {
  flex: 24%;
  max-width: 24%;
  padding: 0 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.column img {
  margin: 2% 5%;
  vertical-align: middle;
  width: 100%;
  border-radius: 5%;
  
  transition: all 0.3s ease;  
  justify-content: center;
  align-items: center;

}

.column img::before {
    position: absolute;
    width: 100%;
    height: 100%;

    top: -100%;
    left: -100%;
    transition: all 0.5s ease;
}

.column img:hover{
  margin: 4% 7%;
  box-shadow: 0 5px 15px #581908;

  transform: scale(1.05) translateY(-5px);
}

.column img:hover::before {
    top: 100%;
    left: 100%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}
